body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
nav {
    background: #333;
    color: #fff;
    padding: 0.5em;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.language-toggle {
    float: right;
}
section {
    padding: 1em;
    margin: 1em 0;
}
section h1, h2 {
    color: #333;
}